body{
  background-color: #f0efe9;
  font-family: Dongle,sans-serif;
}

#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* font size of date  */
.date{
  font-size: 3rem;
}
/* space between date and month-year  */
.month-year{
  margin-left: 0.25rem;
}
/* main container */
.todo-container{
  height: 650px;
  padding: 3rem;
  max-width: 420px;
  background-color: white;
  box-shadow: 0px 3px 3px 3px #c4c4c4;
}
/* task list height  */
.task-list{
  box-shadow: inset 0 -25px 10px -25px  #a1a1a1;
  overflow-y: scroll;
  height: 435px;
}

/* hide the scroll bar */
.task-list::-webkit-scrollbar {
  display: none;
}
.task{
  width: 410px;
  font-size: 20px;
  margin: 8px 0px;
}
.task-sign{
  cursor: pointer;
}
/* make circle postion in the center */
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #50e3a4;
  position: relative;
  top: 55px;
  cursor: pointer;
}
/* make plus sign in the middle of the circle */
.circle::before {
  content: "+";
  font-size: 3rem;
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* media query for  */
@media (max-width: 768px){
  .todo-container{
    max-width: 330px;
    max-height: 550px;
  }
  .circle{
    top:20px
  }
  .task{
    font-size: 15px;
    margin: 7px 0px;
  }
  .task-list{
    overflow: auto;
    height: 370px;
  }
}